<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2 class="underline" style="margin-top:100px; text-align:center;">Create New Admin</h2>
    </div>
  </div>

  <%= form_for @user, url: save_admin_path(@user), html: { method: :post } do |f| %>

    <div class="row">
      <div class="field col-md-6 offset-md-3 ">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field col-md-6 offset-md-3 ">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field col-md-6 offset-md-3 ">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
      <div class="actions col-md-6 offset-md-3 ">
        <br>
        <%= f.submit "Create new admin" %>
      </div>
    </div>
  <% end %>
</div>
