  <footer role="contentinfo">
    <div class="container">
      <div class="row">
        <div class="col-md-4 offset-md-1 col-sm-12" id="footer-social">
          <h5>Stay connected!</h5>
          <a class="fb social-media" href="https://www.facebook.com/Charter2019/" target="_blank" aria-label="facebook"><%= icon('fab', 'facebook-f') %></a>
          <a class="ig social-media" href="https://www.instagram.com/charter2019nyc/" target="_blank" aria-label="instagram"><%= icon('fab', 'instagram') %></a></a>
          <a class="twt social-media" href="https://twitter.com/charter2019nyc" target="_blank" aria-label="twitter"><%= icon('fab', 'twitter') %></a>
          <a class="yt social-media" href="https://www.youtube.com/channel/UCMRiyUa-4C3qH01YzZX4j7w" target="_blank" aria-label="youtube"><%= icon('fab', 'youtube') %></a>
          <a class="li social-media" href="https://www.linkedin.com/company/charter2019nyc" target="_blank" aria-label="linked-in"><%= icon('fab', 'linkedin') %></a>
          <a class="med social-media" href="https://medium.com/charter-2019-nyc" target="_blank" aria-label="linked-in"><%= icon('fab', 'medium-m') %></a>
          <style>
            .ig.social-media:hover{
              background:
                radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
                radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
                radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
                radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
                radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
                radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
                radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
                linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
            }
            .twt.social-media:hover{
              color:#2AA3EF;
              background-color:white;
            }
            .yt.social-media:hover{
              color:#FC0D1B;
              background-color:white;
            }
            .li.social-media:hover{
              color: #0073b1;
              background-color: #ffffff;
            }
            .med.social-media:hover{
              background-color: #292929;
            }
          </style>
        </div>
        <div class="col-md-7 col-sm-12" style="text-align:center;">
          <table style="height: 100%; width:100%">
            <tr><td style="vertical-align:middle;"><p style="margin:0;">For general inquires, please contact <a href="mailto:info@charter2019.nyc">info@charter2019.nyc</a></p></td></tr>
          </table>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>