<%= render partial: "header-banner" %>

  <div class="container" role="main">
    <div class="row">
      <div class="col-12 center">
        <h2 class="page-title">Tell Us What You Think!</h2>
        <p>What do you think works and doesn't work about New York City government?<br>What is your vision for our city for the next 30 years?</p>
        <div id="status"><%=@status%></div>
      </div>
    </div>
    <div class="row">
      <%= form_for @new_comment, url: send_comment_path(@new_comment), html: { method: :post, class: "row", role: "form", id: "contact-form"} do |f| %>
        <div class="col-12">
          <%= f.text_field :name, class: "form-inputs", placeholder: "Full Name (Required)", required: true %>
        </div>
        <br><br>
        <div class="col-12">
          <%= f.email_field :email, class: "form-inputs", placeholder: "Email (Required)", required: true %>
        </div>
        <br><br>
        <div class="col-12">
          <%= f.select(:borough, options_for_select(["Bronx","Brooklyn","Manhattan","Staten Island","Queen"]), {prompt: "--Select a borough--"}, {required: true, class: "form-inputs"}) %>
        </div>
        <br><br>
        <div class="col-12">
          <%= f.text_field :address, class: "not-required", placeholder: "Address" %>
          <%= f.text_field :cell, class: "not-required", placeholder: "Mobile Phone" %>
          <%= f.text_field :phone, class: "not-required", placeholder: "Phone" %>
        </div>
        <div class="col-12">
          <%= f.text_area :message, class: "comments", row: 10, placeholder: "Your ideas for the charter", required: true , maxlength: 5000 %>
          <br><small><em>Character limit: <span id="contact-limit"></span></em></small>
          <br><br>
          <script>
            $("#contact-limit").html("2000");
            $("#comment_message").keyup(function(){
              $("#contact-limit").html(2000 - $(this).val().length);
            });
          </script>
        </div>
        <div class="col-12">
          <%= f.file_field :comment_attachment %>
          <br><small><em>Max 7 MB</em></small>
        </div>
        <div class="col-md-12 col-lg-6">
        <br>
          <%= recaptcha_tags %>
        </div>
        <div class="col-md-12 col-lg-6">
        <br>
          <%= f.submit "Submit Comment", class: "col-12 form-inputs submit", id: "comment-submit" %>
        </div>
      <% end %>
    </div>
  </div>

  <%= render partial: "footer" %>