<%= render partial: "header-banner" %>

  <div class="container" role="main">
    <div class="row">
      <div class="col-12">
        <p><%= link_to "Back to Meetings", hearings_path %></p>
        <h2><%= @hearing.date_of_hearing.strftime("%A %B %d, %Y") %></h2>
        <h3><%= @hearing.location_of_hearing.html_safe %></h3>
        <hr>
      </div>
      <div class="col-sm-12 col-md-6">
        <%= @hearing.hearing_content.html_safe %><br>
        <% if !@hearing.livestream_embed.nil? && @hearing.date_of_hearing <= Time.now.in_time_zone("America/New_York").end_of_day && @hearing.date_of_hearing >= Time.now.in_time_zone("America/New_York").beginning_of_day%>
          <div id="livestream">
            <h4 class="center underline">Livestream</h4>
            <p class="center"><%= @hearing.livestream_embed.html_safe %></p>
          </div>
        <% end %>

        <% if !@hearing.minutes.nil? %>
          <p><%= link_to "View the minutes in HTML", show_hearing_minutes_path(@hearing.id)%></p>
        <% end %>

        <% if @hearing.hearing_attachments.length > 0 %>
          <p class="underline"><strong>Downloadable Files</strong></p>
          <ul>
            <% @hearing.hearing_attachments.each do |attachment| %>
              <li><a href="<%= attachment.url %>"><%= attachment.file.filename.split(".")[0].split("_").join(" ") %> (<%= attachment.file.filename.split(".")[1].upcase %>)</a></li>
            <% end%>
          </ul>
        <% end %>
      </div>
      <% if !@hearing.google_maps_url.nil? %>
        <div class="col-sm-12 col-md-6" aria-hidden="true">
          <div id="hearing-map"><%= @hearing.google_maps_url.html_safe %></div>
        </div>
      <% end %>
    </div>
    <% if !@hearing.youtube_url.nil? %>
      <div class="row">
        <div class="col-sm-12 col-lg-6 offset-lg-3 col-md-8 offset-md-2">
          <br>
          <h4 class="center underline">Watch it on YouTube!</h4>
          <p class="center"><%= @hearing.youtube_url.html_safe %></p>
        </div>
      </div>
    <% end %>
  </div>

<%= render partial: "footer" %>