<%= render partial: "header-banner" %>

  <div class="container" role="main">
    <div class="row">
      <div class="col-12">
        <span><%= link_to "Back", jobs_path %></span>
        <br><br>
        <h1 class="page-title"><%= @job.position %></h1>
        <hr>
        <table style="width:100%" cellpadding=5>
          <tr style="background-color:rgba(0,0,0,.1);">
            <td><strong>Position</strong></td>
            <td><%= @job.position %></td>
            <td><strong>Work Hours</strong></td>
            <td>9:00am to 5:00pm</td>
          </tr>
          <tr>
            <td><strong>Unit</strong></td>
            <td>Charter Revision Commission</td>
            <td><strong>Open Date</strong></td>
            <td><%= @job.open_date %></td>
          </tr>
          <tr style="background-color:rgba(0,0,0,.1);">
            <td><strong>Number of Positions</strong></td>
            <td><%= @job.number_of_positions %></td>
            <td><strong>Close Date</strong></td>
            <td><%= @job.close_date %></td>
          </tr>
        </table>
        <br>
        <p><strong>Duties and Responsibilities</strong></p>
        <%= @job.duties_and_responsibilities.html_safe %>
        <% if @job.responsibilities.nil? ||  @job.responsibilities.empty? %>
        <% else %>
        <p><strong>Responsibilities:</strong></p>
          <%= @job.responsibilities.html_safe %>
        <% end %>
        <p><strong>Requirements:</strong></p>
        <%= @job.requirements.html_safe %>
        <p> New York City residency required within 90 days of appointment.</p>

        <p><strong>HOW TO APPLY</strong></p>
        <p>Qualified candidates should forward a cover letter and resume to:</p>
        <div class="application-method">
          <p><strong>MAIL:</strong></p>
          <p>New York City Council<br>
          Administrative Services<br>
          Attn: Recruitment Unit / <%= @job.attention %><br>
          250 Broadway, 16th Floor<br>
          New York, NY  10007</p>
          <p><strong>FAX:</strong></p>
          <p>(212) 791-5266</p>
          <p><strong>E-MAIL:</strong></p>
          <p><a href="mailto:counciljobs@council.nyc.gov">counciljobs@council.nyc.gov</a></p>
        </div>
        <br>
        <p>While we sincerely appreciate all applications, only those candidates selected for interview will be contacted.</p>
        <br>
        <p><strong>THE NEW YORK CITY COUNCIL IS AN EQUAL OPPORTUNITY EMPLOYER</strong></p>
      </div>
    </div>
  </div>

<%= render partial: "footer" %>