<%= render partial: "header-banner" %>
  <div class="row" style="margin:0">
    <div id="banner" class="col-12">
      <nav class="navbar navbar-expand-md" style="padding: 0;">
        <button id="hamburger-toggler" class="navbar-toggler"  onclick="iconChange(this)" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span id="hamburger-text">Menu</span>
          <span id="hamburger" class="navbar-toggler-icon">
            <div class="bars bar1"></div>
            <div class="bars bar2"></div>
            <div class="bars bar3"></div>
          </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link disabled">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About
              </a>
              <div class="nav-item dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="nav-link dropdown-item" href="/charter">About the Charter</a>
                <div class="dropdown-divider"></div>
                <a class="nav-link dropdown-item" href="/jobs">Jobs</a>
                <div class="dropdown-divider"></div>
                <a class="nav-link dropdown-item" href="/members">Commission Members</a>
                <div class="dropdown-divider"></div>
                <a class="nav-link dropdown-item" href="/staff">Staff</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact the Commission</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="contactDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hearings
              </a>
              <div class="nav-item dropdown-menu" aria-labelledby="contactDropdown">
                <a class="nav-link dropdown-item" href="/upcoming">Upcoming</a>
                <div class="dropdown-divider"></div>
                <a class="nav-link dropdown-item" href="/archived">Archived</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/news">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/reports">Reports</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-7">
        <div id="home-image-carousel">
          <% if @hearings.length > 0 %>
            <div>
              <h1>THERES A HEARING TODAY!</h1>
              <p>
                <%= @hearings[0].location_of_hearing %> @
                <%= @hearings[0].date_of_hearing.in_time_zone('Eastern Time (US & Canada)').strftime("%l:%M %p %Z") %>
                <br>
                Click <a href="#" target="_blank">here</a> to view the live stream!
              </p>
            </div>
          <% end %>
          <div class="home-image" style='background-image: url(<%=image_url("misc/group.jpg")%>);'></div>
          <div class="home-image" style='background-image: url(<%=image_url("misc/group.jpg")%>);'></div>
          <div class="home-image" style='background-image: url(<%=image_url("misc/group.jpg")%>);'></div>
        </div>
        <script>
          $("#home-image-carousel").slick({
            autoplay: true,
            autoplaySpeed: 3000,
            arrows: false,
            pauseOnFocus: false
          });
        </script>
        <% if @hearings.length > 0 %>
          <div id="mobile-hearing-show">
            <h2>
              <span class="underline">HEARING TODAY!</span><br>
              <small>
                <%= @hearings[0].location_of_hearing %> @
                <%= @hearings[0].date_of_hearing.in_time_zone('Eastern Time (US & Canada)').strftime("%l:%M %p %Z") %>
              </small>
            </h2>
            <p>Click <a href="#" target="_blank">here</a> to view the live stream!</p>
          </div>
        <% end %>
        <p style="text-indent:25px;">The New York City Charter creates the framework for City government, it is our constitution. The Charter controls how the City spends your tax dollars, how decisions are made about changes to your neighborhood, and the powers of your elected officials. Nearly thirty years ago, a Charter Revision Commission overhauled the City’s government after a top-to-bottom review with an eye towards real reform. It’s time for a fresh look.</p>
        <p style="text-indent:25px;">The Commission—made up of Members appointed by the Mayor, the Speaker of the City Council, all five Borough Presidents, the Public Advocate, and the Comptroller—is charged with looking at the whole picture and bringing its recommendations to the people at the November 2019 general election. </p>
      </div>
      <div class="col-sm-12 col-md-4 offset-md-1">
        <div style="padding:5px; background-color:#E6E6E6;">
          <h3 class="underline" style="color:#23417D;">Twitter Feed</h3>
          <div style="border:1px solid #CACACA;height:500px;overflow:scroll;">
            <a class="twitter-timeline" href="https://twitter.com/NYCCouncil">Tweets by NYCCouncil</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
          </div>
        <hr>
        <div style="padding:5px; background-color:#E6E6E6;">
          <h3 class="underline" style="color: #23417D; word-wrap: break-word;">Additional Resources</h3>
          <div style="padding:5px; background-color:white;">
            <a href="#">Test Doc (PDF)</a><br>
            <a href="#">Test Doc 1 (PDF)</a><br>
            <a href="#">Test Doc 2 (PDF)</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render partial: "footer" %>