<%= render partial: "header-banner" %>

    <%# if cookies[:subscribed].nil? && cookies[:declined].nil? %>
      <!-- <div id="subscribeModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Subscribe!</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p class="center">Subscribe to our mailing list!</p>
              <form id="subscribe-form" name="subscribe" method="POST" action="subscribe">
                <div class="row">
                  <div class="col-md-6 col-sm-12" style="margin-bottom:15px;"><input type="text" class="form-control" name="first_name" placeholder="First Name" required></div>
                  <div class="col-md-6 col-sm-12" style="margin-bottom:15px;"><input type="text" class="form-control" name="last_name" placeholder="Last Name" required></div>
                  <div class="col-12" style="margin-bottom:15px;"><input type="email" class="form-control" name="email" placeholder="Email Address" required></div>
                  <div class="col-md-6 col-sm-12" style="margin-bottom:15px;"><input class="btn btn-success" id="subscribe-btn" type="submit" value="SUBSCRIBE" name="approve"></div>
                  <div class="col-md-6 col-sm-12"><input class="btn btn-danger" id="decline-btn" type="submit" value="NO, THANKS" name="decline"></div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div> -->
    <%# end %>

  <div class="container" role="main">
    <div class="row">
      <div class="col-sm-12">
        <% if (DateTime.civil_from_format :local, 2018, 11, 19, 12, 0, 1).past? %>
          <iframe width="100%" style="max-height:500px; min-height:315px; height:35vw" src="https://www.youtube.com/watch?v=KcIvy4FTv5I" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <% else %>
          <iframe width="100%" style="max-height:500px; min-height:315px; height:35vw" src="https://www.youtube.com/embed/oy9vvLz1448" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <% end%>
      </div>
      <div class="center col-12">
        <div class="">
          <h3><%= link_to "Have suggestions?<br />Click here!".html_safe, contact_path, {:id =>"contact-btn" ,:class=>'col-offset-md-3 col-md-6 col-sm-12 btn'}%></h3>
        </div>
      </div>
      <% if false %>
        <div class="col-sm-12">
          <style>#upcoming-sept{width:100%;}#upcoming-sept tr{font-size:25px;letter-spacing:13px;}@media only screen and (max-width: 991px) {#upcoming-sept tr{font-size:20px;}}@media only screen and (max-width: 767px) {#upcoming-sept tr{font-size:12px;letter-spacing:5px;}}</style>
          <h2 class="center underline">September 2018 Hearings</h2>
          <p class="center">Click below to get location details!</p>
          <table id="upcoming-sept" style="margin:0 auto;">
            <tr style="color:white;background-color:#AEBDE2;text-transform: uppercase;"><td style="padding-left:10px;width:50%"><h3 style="margin:5px auto;"><a style="color:white;"href="/hearings/2">Bronx</a></h3></td><td style="padding-right:10px;text-align:right;"><h3 style="margin:5px auto;"><a style="color:white;"href="/hearings/2">Sept. 12th</a></h3></td></tr>
            <tr style="text-transform: uppercase;"><td style="padding-left:10px;width:50%"><h3 style="margin:5px auto;"><a style="color:black;" href="/hearings/3">Brooklyn</a></h3></td><td style="padding-right:10px;text-align:right;"><h3 style="margin:5px auto;"><a style="color:black;" href="/hearings/3">Sept. 17th</a></h3></td></tr>
            <tr style="color:white;background-color:#AEBDE2;text-transform: uppercase;"><td style="padding-left:10px;width:50%"><h3 style="margin:5px auto;"><a style="color:white;"href="/hearings/6">Queens</a></h3></td><td style="padding-right:10px;text-align:right;"><h3 style="margin:5px auto;"><a style="color:white;"href="/hearings/6">Sept. 20th</a></h3></td></tr>
            <tr style="text-transform: uppercase;"><td style="padding-left:10px;width:50%"><h3 style="margin:5px auto;"><a style="color:black;" href="/hearings/4">Staten Island</a></h3></td><td style="padding-right:10px;text-align:right;"><h3 style="margin:5px auto;"><a style="color:black;" href="/hearings/4">Sept. 24th</a></h3></td></tr>
            <tr style="color:white;background-color:#AEBDE2;text-transform: uppercase;"><td style="padding-left:10px;width:50%"><h3 style="margin:5px auto;"><a style="color:white;"href="/hearings/5">Manhattan</a></h3></td><td style="padding-right:10px;text-align:right;"><h3 style="margin:5px auto;"><a style="color:white;"href="/hearings/5">Sept. 27th</a></h3></td></tr>
          </table>
          <br>
        </div>
      <% end%>
      <div class="col-sm-12 col-lg-7">
        <div id="home-image-carousel" aria-hidden="true">
          <% if @hearings_today.length > 0 %>
            <div class="home-image" style='background-image: url(<%=image_url("misc/meeting_header.jpg")%>);'>
              <div id="hearing-message">
                <div>
                  <h2>There's a public<br>meeting today!</h2>
                  <p>
                    <%= @hearings_today[0].location_of_hearing %> @
                    <%= @hearings_today[0].date_of_hearing.in_time_zone('Eastern Time (US & Canada)').strftime("%l:%M %p") %>
                    <br>
                    <%= link_to "Stream it live!", "https://www.youtube.com/channel/UCMRiyUa-4C3qH01YzZX4j7w/live" %>
                  </p>
                  </div>
                </div>
            </div>
          <% end %>
          <div class="home-image" style='background-position: center; background-image: url(<%=image_url("misc/front_header1.jpg")%>);'></div>
          <div class="home-image" style='background-position: bottom; background-image: url(<%=image_url("misc/front_header2.jpg")%>);'></div>
          <div class="home-image" style='background-image: url(<%=image_url("misc/front_header3.jpg")%>);'></div>
          <div class="home-image" style='background-image: url(<%=image_url("misc/front_header4.jpg")%>);'></div>
          <div class="home-image" style='background-image: url(<%=image_url("misc/front_header5.jpg")%>);'></div>
          <div class="home-image" style='background-image: url(<%=image_url("misc/front_header6.jpg")%>);'></div>
          <div class="home-image" style='background-image: url(<%=image_url("misc/front_header7.jpg")%>);'></div>
        </div>
        <script>
          $("#home-image-carousel").slick({
            autoplay: true,
            autoplaySpeed: 3000,
            arrows: false,
            pauseOnFocus: true
          });
        </script>
        <p style="margin-top:20px; text-align:justify;">
          The New York City Charter, established by the State Legislature in 1897, is the City's constitution, creating the framework for our government. The Charter controls how the City spends our tax dollars, how decisions are made about changes to our neighborhoods, and the powers of our elected officials.
          <br><br>
          Nearly 30 years ago, a Charter Revision Commission overhauled the city’s government. <strong>Now it's time for a fresh look.</strong>
          <br><br>
          The 2019 Commission — made up of members appointed by the Mayor, the Speaker of the City Council, all five Borough Presidents, the Public Advocate, and the Comptroller — has a broad mandate to conduct a top-to-bottom review and will bring its recommendations to the public in November 2019.
        </p>
      </div>
      <div class="col-sm-12 col-lg-4 offset-lg-1" aria-hidden="true">
        <div class="round-border sidebar">
          <div id="twitter-container" class="round-border" style="border:1px solid #CACACA;height:500px;overflow:scroll;">
            <a class="twitter-timeline" href="https://twitter.com/charter2019NYC">Tweets by Independent Charter Commission</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render partial: "footer" %>