<%= render partial: "header-banner" %>

  <div class="container" role="main">
    <div class="row">
      <div class="col-12 center">
        <h2 class="page-title">Meet the Commissioners</h2>
        <p>The Commission includes Members appointed by a diverse array of elected officials representing all parts of the City.</p>
      </div>
    </div>
    <div class="row">
      <% @members.each do |member| %>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="image-container" style="background-image:url('<%=member.profile_pic.url%>')">
            <div class="member-overlay overlay" data-toggle="modal" data-target="#commission-member-modal" data-image="<%=member.profile_pic.url%>" data-name="<%= member.name %>" data-role="<%= member.role.nil? ? member.role : " - #{member.role}" %>" data-bio="<%= member.bio.to_s %>">
              <div class="name-and-role">
                <p class="center" style="line-height:12px;margin:0 15px;">
                  <small>
                    <strong>Appointed by <em><%= member.appointer %></em></strong>
                    <br><br>
                    <span class="underline">Background:</span> <%= member.background %>
                  </small>
                  <br><br>
                  <span style="text-decoration:underline;"><small>Click for bio</small></span>
                </p>
              </div>
            </div>
          </div>
          <div style="text-align:center">
            <h5 style="margin-bottom:0;"><%= member.name %></h5>
            <p><em><%= member.role %></em></p>
          </div>
        </div>
      <% end %>
    </div>
    <!--
    <div class="row">
      <div class="col-12">
        <p><a href="jobs">Learn more about the Commission Members, staff, and how to join the team.</a></p>
      </div>
    </div>
    -->
  </div>

  <div class="modal fade" id="commission-member-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="member-name"></h3>
          <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
        </div>
        <div class="modal-body" id="member-bio">
        </div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function(){
      //Adjusting for Gail Benjamin
      $(".image-container")[0].style["background-position"] = "bottom";
      //Adjusting for Sal Albanese
      $(".image-container")[1].style["background-position"] = "top";
      //Adjusting for  Dr. Lilliam Barrios-Paoli
      $(".image-container")[2].style["background-position"] = "top";
      //Adjusting for Rev. Clinton Miller
      $(".image-container")[10].style["background-position"] = "top";
      $(".image-container .overlay").hover(function(){
        $(this).animate({'opacity': '1'}, 250);
      }, function(){
        $(this).animate({'opacity': '0'}, 250);   
      });

      $(".member-overlay").click(function(){
        $("#member-name").html($(this).attr("data-name")+"<small><em>"+$(this).attr("data-role")+"</em></small>");
        // $("#member-pic").html("<img src='images/headshots/"+members[$(this).attr("data-contact")].pic+"'>");
        $("#member-bio").html($(this).attr("data-bio"));
      });
    });
  </script>
  <%= render partial: "footer" %>