<%= render partial: "header-banner" %>

  <div class="container" role="main">
    <div class="row">
      <div class="col-12">
        <span><%= link_to "Back", news_path %></span>
        <br><br>
        <h2><%= @news_article.title %></h2>
        <% if @news_article.news_type == "press_release" %>
          <p><strong>FOR IMMEDIATE RELEASE:</strong> <%= @news_article.publication_date %><br>
          <strong>CONTACT:</strong> <%= @news_article.contact_info.html_safe %></p>
        <% end %>
        <hr>
        <p><%= @news_article.news_content.html_safe %><br></p>
      </div>
    </div>
  </div>

<%= render partial: "footer" %>