<%= render partial: "header-banner" %>

  <div class="container" role="main">
    <div class="row">
      <% if @all_news.length == 0 %>
        <p>Stay tuned for the latest on our work!</p>
      <% else %>
        <% if @press_releases.length > 0 %>
          <div class="col-sm-12 col-md-6">
            <h3 class="underline">Press Releases</h3>
            <ul>
              <% @press_releases.each do |press_release| %>
                <li>
                  <%= link_to press_release.title, show_news_path(press_release.id,press_release.order) %><br>
                  <small><%= press_release.publication_date %></small>
                  <% if press_release.news_attachments.length > 0 %>
                    <ul>
                      <% press_release.news_attachments.each do |attachment| %>
                        <li><a href="<%= attachment.url %>"><%= attachment.url.split("/").last.split("_").join(" ").split(".").first %></a></li>
                      <% end %>
                    </ul>
                  <% end %>
                </li>
                <br>
              <% end %>
            </ul>
          </div>
        <% end %>

        <% if @news_articles.length > 0 %>
          <div class="col-sm-12 col-md-6">
            <h3 class="underline">News Articles</h3>
            <ul>
              <% @news_articles.each do |news_article| %>
                <li>
                  "<%= news_article.title %>"<br>
                  <small>
                    by <%= news_article.contact_info.split(",")[0] %> (<%= news_article.publication %>)<br>
                    <%= news_article.news_content.html_safe %>
                  </small>
                </li>
                <br>
              <% end %>
            </ul>
        <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <%= render partial: "footer" %>