<%= render partial: "header-banner" %>

  <div class="container" role="main">
    <div class="row">
      <div class="col-12 center">
        <h2 class="page-title">Reports</h2>
        <div>
        <% if @reports.length > 0 %>
          <% @reports.each do |report| %>
            <p>
              <%= link_to report.title, show_report_path(report.id) %><br>
              <% if report.report_attachments.length > 0 %>
                <ul>
                  <% report.report_attachments.each do |attachment| %>
                    <li><a href="<%= attachment.url %>"><%= attachment.url.split("/").last.split("_").join(" ").split(".").first %></a></li>
                  <% end %>
                </ul>
              <% end %>
            </p>
          <% end %>
        <% else %>
          <h4><br>Coming soon!</h4>
        <% end %>
      </div>
      </div>
    </div>
  </div>

  <%= render partial: "footer" %>