<%= render partial: "header-banner" %>

  <div class="container" role="main">
    <div class="row">
      <div class="col-12 center">
        <h2 class="page-title" style="margin-bottom:1em;">Resources</h2>
        <div class="row">
          <div class="col-12 col-md-6">
            <ul>
              <li style="list-style: none; text-decoration: underline;"><strong>NYC Charter Revision Commission 2019 Pamphlet (PDFs)</strong></li>
              <li style="list-style: none;"> <%= link_to "English", asset_path("/pdfs/Charter_Pamphlet_English.pdf", skip_pipeline: true), target: :_blank %></li>
              <li style="list-style: none;"><%= link_to "العَرَبِيَّة | Arabic", asset_path("/pdfs/Charter_Pamphlet_Arabic.pdf", skip_pipeline: true), target: :_blank %></li>
              <li style="list-style: none;"><%= link_to "বাংলা | Bengali", asset_path("/pdfs/Charter_Pamphlet_Bengali.pdf", skip_pipeline: true), target: :_blank %></li>
              <li style="list-style: none;"><%= link_to "汉语 | Chinese", asset_path("/pdfs/Charter_Pamphlet_Chinese.pdf", skip_pipeline: true), target: :_blank %></li>
              <li style="list-style: none;"><%= link_to "kreyòl | Creole", asset_path("/pdfs/Charter_Pamphlet_Creole.pdf", skip_pipeline: true), target: :_blank %></li>
              <li style="list-style: none;"><%= link_to "Français | French", asset_path("/pdfs/Charter_Pamphlet_Francais.pdf", skip_pipeline: true), target: :_blank %></li>
              <li style="list-style: none;"> <%= link_to "한국어 | Korean", asset_path("/pdfs/Charter_Pamphlet_Korean.pdf", skip_pipeline: true), target: :_blank %></li>
              <li style="list-style: none;"><%= link_to "język polski | Polish", asset_path("/pdfs/Charter_Pamphlet_Polski.pdf", skip_pipeline: true), target: :_blank %></li>
              <li style="list-style: none;"><%= link_to "ру́сский язы́к | Russian", asset_path("/pdfs/Charter_Pamphlet_Russian.pdf", skip_pipeline: true), target: :_blank %></li>
              <li style="list-style: none;"><%= link_to "Español | Spanish", asset_path("/pdfs/Charter_Pamphlet_Espanol.pdf", skip_pipeline: true), target: :_blank %></li>
              <li style="list-style: none;"><%= link_to "اُردُو‎ | Urdu", asset_path("/pdfs/Charter_Pamphlet_Urdu.pdf", skip_pipeline: true), target: :_blank %></li>
              <li style="list-style: none;"><%= link_to "اُייִדיש | Yiddish", asset_path("/pdfs/Charter_Pamphlet_Yiddish.pdf", skip_pipeline: true), target: :_blank %></li>
            </ul>
          </div>
          <div class="col-12 col-md-6">
            <ul>
              <li style="list-style: none; text-decoration: underline;"><strong>Other Useful Links / Documents</strong></li>
              <li style="list-style: none;">2019 Timeline (<%= link_to "Download the PDF", asset_path("/pdfs/2019%20Timeline.pdf", skip_pipeline: true), target: :_blank %>)</li>
              <li style="list-style: none;">The 1936 Charter (<%= link_to "Download the PDF", asset_path("/pdfs/1936_Charter.pdf", skip_pipeline: true), target: :_blank %>)</li>
              <li style="list-style: none;">Elections Experts (<%= link_to "Download the PDF", asset_path("/pdfs/Elections_Experts.pdf", skip_pipeline: true), target: :_blank %>)</li>
              <li style="list-style: none;">Elections (<%= link_to "Download the PDF", asset_path("/pdfs/Elections_Final.pdf", skip_pipeline: true), target: :_blank %>)</li>
              <li style="list-style: none;">Finance (<%= link_to "Download the PDF", asset_path("/pdfs/Finance.pdf", skip_pipeline: true), target: :_blank %>)</li>
              <li style="list-style: none;">Finance Experts (<%= link_to "Download the PDF", asset_path("/pdfs/Finance_Experts.pdf", skip_pipeline: true), target: :_blank %>)</li>
              <li style="list-style: none;">Finance/Governance (<%= link_to "Download the PDF", asset_path("/pdfs/Finance-Governance.pdf", skip_pipeline: true), target: :_blank %>)</li>
              <li style="list-style: none;">Focus Areas (<%= link_to "Download the PDF", asset_path("/pdfs/Focus_Areas.pdf", skip_pipeline: true), target: :_blank %>)</li>
              <li style="list-style: none;">Governance (<%= link_to "Download the PDF", asset_path("/pdfs/Governance.pdf", skip_pipeline: true), target: :_blank %>)</li>
              <li style="list-style: none;">Governance Experts (<%= link_to "Download the PDF", asset_path("/pdfs/Governance Experts.pdf", skip_pipeline: true), target: :_blank %>)</li>
              <li style="list-style: none;">Governance/Land Use (<%= link_to "Download the PDF", asset_path("/pdfs/GovernanceLand Use.pdf", skip_pipeline: true), target: :_blank %>)</li>
              <li style="list-style: none;">Guide for Charter Commissions <em>6e</em> (<%= link_to "Download the PDF", asset_path("/pdfs/National_Civic_League-Guide_Charter_Commissions.pdf", skip_pipeline: true), target: :_blank %>)</li>
              <li style="list-style: none;">Land Use (<%= link_to "Download the PDF", asset_path("/pdfs/Land Use.pdf", skip_pipeline: true), target: :_blank %>)</li>
              <li style="list-style: none;">Local Law 91 (established the Charter Revision Commission 2019) <%= link_to "Download the PDF", asset_path("/pdfs/Local Law 91.pdf", skip_pipeline: true), target: :_blank %></li>
              <li style="list-style: none;">Next Steps (<%= link_to "Download the PDF", asset_path("/pdfs/Next%20Steps.pdf", skip_pipeline: true), target: :_blank %>)</li>
              <li style="list-style: none;">Police Accountability (<%= link_to "Download the PDF", asset_path("/pdfs/Police%20Accountability.pdf", skip_pipeline: true), target: :_blank %>)</li>
              <li style="list-style: none;">Police Accountability Experts (<%= link_to "Download the PDF", asset_path("/pdfs/Police%20Accountability%20Experts.pdf", skip_pipeline: true), target: :_blank %>)</li>
              <li style="list-style: none;">Proposals (<%= link_to "Download the PDF", asset_path("/pdfs/Proposals.pdf", skip_pipeline: true), target: :_blank %>)</li>
              <li style="list-style: none;">The New York City Charter (<a href="http://library.amlegal.com/nxt/gateway.dll/New%20York/charter/newyorkcitycharter?f=templates$fn=default.htm$3.0$vid=amlegal:newyork_ny" target="_blank">Click to view</a>)</li>
              <li style="list-style: none;">The New York City Charter (user-friendly)(<a href="https://nyc-charter.readthedocs.io/en/latest/" target="_blank">Click to view</a>)</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<%= render partial: "footer" %>