<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122157652-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-122157652-1');
    </script>

    <%= csrf_meta_tags %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Place this data between the <head> tags of your website -->
    <meta name="description" content="<%= @meta_description %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="<%=image_url("misc/charter_logo_final.png")%>">
    <meta name="twitter:site" content="@Charter2019NYC">
    <meta name="twitter:title" content="<%= @meta_site_title %> - <%= @page %>">
    <meta name="twitter:description" content="<%= @meta_description %>">
    <meta name="twitter:creator" content="@Charter2019NYC">
    <!-- Twitter summary card with large image must be at least 280x150px -->
    <meta name="twitter:image:src" content="<%=image_url("misc/charter_logo_final.png")%>">

    <!-- Open Graph data -->
    <!-- <meta property="og:title" content="<%= @meta_site_title %> - <%= @page %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%=image_url("misc/charter_logo_final.png")%>" />
    <meta property="og:description" content="<%= @meta_description %>" />
    <meta property="og:site_name" content="<%= @meta_site_title %>" />
    <meta property="fb:admins" content="Facebook numberic ID" /> -->
    <link rel="shortcut icon" href="<%=image_url("misc/favicon1.ico")%>">
    <title><%= @meta_site_title %> - <%= @page %></title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>